#bond-view {
  position: absolute !important;
  width: 100%;
  height: 100%;
  z-index: 69;

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .MuiBackdrop-root {
      background: rgba(255, 255, 255, 0.05) !important;
      backdrop-filter: blur(60px) !important;
      -webkit-backdrop-filter: blur(60px) !important;
      .ohm-card {
        //opacity: 1 !important;
        height: auto;
      }
    }
    .ohm-modal {
      max-width: 577px;
      min-height: 578px;
    }
  }

  /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .MuiBackdrop-root {
      background: rgba(100, 100, 100, 0.95);
      .ohm-card {
        height: auto;
      }
    }
    .ohm-modal {
      max-width: 577px;
      min-height: 578px;
      //opacity: 0.9;
    }
  }
  .bond-card {
    max-width: 803px;
  }

  .bond-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ohm-pair-img,
    .reserve-pair-img {
      height: 38px;
      width: 38px;
    }
    .bond-header-logo {
      justify-content: center;
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: row;
      .bond-header-name {
        text-align: center;
        margin-left: 0.33em;
      }
    }
  }

  .bond-data {
    margin: 10px 0 0 0;
  }

  .bond-price-data-row {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 23px;
    h4 {
      margin-bottom: 0;
    }
    h3.price {
      font-weight: 600 !important;
    }
  }

  .bond-price-data-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 23px;
    h4 {
      margin-bottom: 0;
    }
    h3.price {
      font-weight: 600 !important;
    }
  }

  .bond-nft-box {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  // TNFTs description text in the Bond tab:
  .bond-nft-description {
    font-weight: 300;
    text-align: center;
    line-height: 24px;
  }

  .ohm-input {
    min-width: 50%;
    max-width: 408px;
    margin: 5px;
  }
}

.transaction-button {
  min-width: 185px !important;
  max-width: 408px;
  width: 100%;
  margin: 5px !important;
}

.nft-coming-soon-button {
  width: 340px;
  height: 48px;
  margin: 5px !important;
}

.nft-learn-more-button {
  position: absolute;
  right: 0;
  margin-right: 15px;
  top: 10px;
}

.nft-coming-soon-button-text {
  > span {
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.1;
    letter-spacing: 0.2em;
  }
}

.stake-wallet-icon {
  margin-left: 10px;
  position: absolute;
  right: 20px;
  top: 14px;
  color: #000;
}

.connect-button {
  //max-width: 300px !important;
  min-height: 3rem !important;
  min-width: 17.75rem !important;
  margin-bottom: 15px;
}


.mobile #bond-view {
  .ohm-card {
    .card-content {
      justify-content: space-evenly !important;
      .bond-toggle-row {
        justify-content: space-evenly !important;
      }
      .input-row {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
        .input-group.ohm-input-group {
          margin: 10px !important;
          width: 75%;
          height: 50px;
        }
        div.stake-button {
          width: 75%;
          margin-left: 0;
          margin-top: 15px;
          height: 50px;
          font-size: 1.3em !important;
        }
      }
    }
  }
}

.web3modal-modal-lightbox { z-index: 70 !important; }
